@model IEnumerable<Core.Entities.SystemConfiguration>

@{
    ViewData["Title"] = "Systems";
}

<h2>Systems</h2>

<p>
    <a asp-controller="Systems" asp-action="Create" class="btn btn-primary">Create system</a>
</p>

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Collector</th>
        <th>Provisioner</th>
        <th>Data</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (Core.Entities.SystemConfiguration systemConfiguration in Model)
    {
        <tr>
            <td>@systemConfiguration.Name</td>
            <td>@systemConfiguration.CollectorName</td>
            <td>@systemConfiguration.ProvisionerName</td>
            <td>@systemConfiguration.DataSelection</td>
            <td>
                <a asp-controller="Systems" asp-action="Details" asp-route-id="@systemConfiguration.Id">Details</a>
            </td>
        </tr>
    }
    </tbody>
</table>